//Настраиваем линтер, он отлавливает ошибки и следит за единообразием кода.
//Мы пользуемся линтером eslint. В него можно сразу загружать готовые конфигурации — наборы настроек, сделанные на основе стайлгайдов (принципов написания кода).
{
  "extends": "airbnb-base",//Мы будем работать по самому популярному стайлгайду — Airbnb.
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]//добавляем исключение для идентификатора _id
      }
    ]
  }
}
